.discover-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 60px;

    img {
        border-radius: 15px;
        height: 100%;
        width: 205px;
    }

    .btn {
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 50px;
        right: 25%;
        bottom: 10px;
        text-align: center;
    }

    .card {
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;
        border: 1px solid rgb(242, 242, 245);
        border-radius: 15px;
        height: 410px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .info {
        padding: 20px;
    }
}

