.App {
  text-align: center;
}
 
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  position: sticky;
  top: 0;
}

.App-link {
  color: #09d3ac;
}

/* .left and .right used in NavBar */
.left {
  float: left;
}

.right {
  float: right;
}
