.signInWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imgBox {
    /* display: grid; */
    height: 100%;
    
}

.right-fit {
    max-width: 100vh;
    max-height: 100vh;
    float: right;
}