.signUpWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
} 

.imgBox {
    /* display: grid; */
    height: 100%;
    
}

.left-fit {
    max-width: 100vh;
    max-height: 90vh;
    float: left;
}

.loginIcon {
    margin: 10px 10px 10px 10px;
}